doctype
html
    head
        title="this is a redux app"
        link(href="/static/styles.css", rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css", rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css", rel="stylesheet")
        link(href="/static/img/favicon.ico", rel="shortcut icon",type="image/x-icon" media="screen")
        
       
    body
        //- h1=" welcome to react redux"
        div(id="app")
        script(src="/static/vendor.bundle.js")
        
        script(src="/static/bundle.bundle.js")
        
        